# feature selection tutorial 1 : How to drop constant fetures using variance threshold.

in this step we will removeing the features which have constant fetures which are actuly not inportant 
to solving the problem statement.

In [11]:
#import pandas to create data frame.
import pandas as pd

#make dataframe of given data.
data = pd.DataFrame({"A":[1,2,4,1,2,4],
                    "B":[4,5,6,7,6,9],
                    "C":[0,0,0,0,0,0],
                    "D":[1,1,1,1,1,1]}) 
# To create dataframe pd.DataFrame() function is necesory othervise dicrionary will be created.

In [12]:
data #here we create a datframe .

   A  B  C  D
0  1  4  0  1
1  2  5  0  1
2  4  6  0  1
3  1  7  0  1
4  2  6  0  1
5  4  9  0  1

# Variance Threshold

feature selectores which remove all low variance feature.
low variance meance differance in two rows is zero for wxample c and d column have constant value so they have low variance.

This Feature Selection Algorithum Look only at the fetures(X), not the desire output (Y)

In [15]:
# importing sklearn library
from sklearn.feature_selection import VarianceThreshold
var_thres = VarianceThreshold(threshold = 0)
var_thres.fit(data)

VarianceThreshold(threshold=0)

In [17]:
var_thres.get_support()

array([ True,  True, False, False])

so here we see that where we get "false" at that position we remove thoes features.

In [18]:
constant_columns = [column for column in data.columns if column not in data.columns[var_thres.get_support()]]

In [19]:
constant_columns

['C', 'D']

In [20]:
data.columns[var_thres.get_support()]

Index(['A', 'B'], dtype='object')

# so lets practice on kagle data set name santander-customer-satisfaction. link is below

https://www.kaggle.com/c/santander-customer-satisfaction/data?select=train.csv

In [2]:
import pandas as pd
from sklearn.feature_selection import VarianceThreshold

In [3]:
df = pd.read_csv('Santander.csv',nrows=1000) #nrows is for taking 0nly 1000 rows

In [5]:
df.shape #here we see 1000 rows and 371 column.

(1000, 371)

now our gole is to findout how much are constant rows.

In [6]:
df.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,39205.170000,0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,49278.030000,0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,67333.770000,0
3,8,2,37,0.0,195.0,195.0,0.0,0.0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,64007.970000,0
4,10,2,39,0.0,0.0,0.0,0.0,0.0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,117310.979016,0

In [8]:
x = df.drop(labels=['TARGET'],axis=1)
y = df['TARGET'] 
#HERE WE MAKE DEPENDANT AND INDIPENDANT VARIABLES BECAUSE WEW KNOW VARIANCE THREHOLD OLY APPLY ON X FEATURE

In [9]:
from sklearn.model_selection import train_test_split
#seperate data set into train and test
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [11]:
x_train.shape,x_test.shape

((700, 370), (300, 370))

# Lets apply Variance threshould

In [29]:
var_thres = VarianceThreshold(threshold = 10)
var_thres.fit(x_train)

VarianceThreshold(threshold=10)

In [30]:
var_thres.get_support()

array([ True,  True,  True,  True,  True,  True,  True,  True, False,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False,  True, False,
        True,  True,  True, False,  True,  True, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True,  True, False,  True,  True,  True,  True,
       False,  True, False,  True, False,  True,  True,  True,  True,
       False, False, False,  True,  True, False, False, False,  True,
        True, False,  True,  True, False,  True, False, False, False,
        True, False, False,  True, False, False,  True, False, False,
       False,  True, False,  True, False, False,  True, False, False,
        True, False, False, False,  True, False, False, False, False,
        True, False, False,  True, False, False, False,  True,  True,
       False, False,  True, False, False, False, False,  True,  True,
       False,  True, False, False, False, False, False, False, False,
        True, False, False, False, False, False, False, False, False,
        True, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False,  True,
       False,  True, False, False, False, False, False, False, False,
       False, False, False, False,  True,  True, False, False, False,
       False,  True,  True, False,  True, False,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False, False,
       False, False,  True, False,  True,  True, False, False, False,
       False, False, False, False, False,  True,  True,  True,  True,
        True])

In [31]:
sum(var_thres.get_support())

102

In [32]:
constant_columns = [column for column in x_train.columns 
                    if column not in x_train.columns[var_thres.get_support()]]

In [33]:
len(constant_columns)

268

In [34]:
x_train.drop(constant_columns,axis=1)

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult3,imp_op_var40_ult1,...,saldo_medio_var13_largo_ult1,saldo_medio_var13_largo_ult3,saldo_medio_var17_hace2,saldo_medio_var17_ult1,saldo_medio_var17_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38
105,195,2,28,0.0,0.00,0.00,0.0,0.0,0,0.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,93861.78
68,144,2,23,0.0,0.00,0.00,0.0,0.0,0,0.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,165258.42
479,965,2,24,0.0,0.00,0.00,0.0,0.0,0,0.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,61653.75
399,798,2,34,0.0,1200.45,1698.42,0.0,0.0,0,0.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,119707.20
434,864,2,28,0.0,0.00,0.00,0.0,0.0,0,0.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,109607.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,1660,2,38,0.0,0.00,0.00,0.0,0.0,0,0.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45189.33
192,378,2,27,0.0,0.00,0.00,0.0,0.0,0,0.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,145599.06
629,1254,2,31,0.0,36.90,36.90,0.0,0.0,0,0.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,99613.92
559,1117,2,23,0.0,0.00,0.00,0.0,0.0,0,0.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,48869.88
684,1377,2,28,0.0,0.00,0.00,0.0,0.0,0,0.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,59889.21

# note= you can change threshoul value just for curiocity i change threshould 
value 0 to 10 and i observe that column size is reude